@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("/assets/fonts/inter/Inter-Medium.woff2?v=3.19") format("woff2"),
    url("/assets/fonts/inter/Inter-Medium.woff?v=3.19") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 500;
    font-display: swap;
    src: url("/assets/fonts/inter/Inter-MediumItalic.woff2?v=3.19") format("woff2"),
    url("/assets/fonts/inter/Inter-MediumItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/fonts/inter/Inter-Bold.woff2?v=3.19") format("woff2"),
    url("/assets/fonts/inter/Inter-Bold.woff?v=3.19") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/fonts/inter/Inter-BoldItalic.woff2?v=3.19") format("woff2"),
    url("/assets/fonts/inter/Inter-BoldItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("/assets/fonts/inter/Inter-roman.var.woff2?v=3.19") format("woff2");
}
@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url("/assets/fonts/inter/Inter-italic.var.woff2?v=3.19") format("woff2");
}
