@import 'normalize.css/normalize.css';
@import '../public/assets/fonts/inter/inter.css';

:root {
  --color-background: rgb(255 255 255);
  --color-foreground: rgb(0 0 0);
  --color-disabled: rgb(128 128 128);
  --color-selection: rgb(255 240 170);
  --color-notification: rgb(255 96 96);
  --margin: 1rem;
  --line-height: 1.3;
  --icon-size: calc(1rem * var(--line-height));
  --color-background-alpha: hsl(0deg 0% 97%);
  --color-background-beta: hsl(0deg 0% 94%);
  --color-foreground-alpha: rgb(0 0 0 / 10%);
  --color-foreground-beta: rgb(0 0 0 / 5%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: rgb(0 0 0);
    --color-foreground: rgb(255 255 255);
    --color-disabled: rgb(128 128 128);
    --color-selection: rgb(128 196 255);
    --color-notification: rgb(255 96 96);
    --color-background-alpha: hsl(0deg 0% 5%);
    --color-background-beta: hsl(0deg 0% 8%);
    --color-foreground-alpha: rgb(255 255 255 / 14%);
    --color-foreground-beta: rgb(255 255 255 / 7%);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: unset;
  margin: unset;
}

*::selection {
  background-color: var(--color-selection);
}

body {
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: var(--line-height);
  color: var(--color-foreground);
  background-color: var(--color-background);
}

@supports (font-variation-settings: normal) {
  body {
    font-family: 'Inter var', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

h1,
h2,
h3 {
  font-weight: bold;
}

a:link {
  color: var(--color-foreground);
  text-decoration: none;
}

a:visited {
  color: var(--color-foreground);
}

a:hover {
  color: var(--color-foreground);
  text-decoration: underline;
}

a:focus {
  color: var(--color-foreground);
}

a:active {
  color: var(--color-foreground);
}

select {
  width: 100%;
  height: calc(var(--margin) * 3);
  padding: 0 calc(var(--margin) * 2) 0 calc(var(--margin) * 0.75);
  font-weight: 500;
  color: var(--color-foreground);
  text-overflow: ellipsis;
  cursor: pointer;
  background-color: var(--color-background);
  background-image: url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjMwMHB4IiB3aWR0aD0iMzAwcHgiIGZpbGw9InJnYigxMjgsMTI4LDEyOCkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHg9IjBweCIgeT0iMHB4Ij48cG9seWdvbiBwb2ludHM9IjUwIDU3LjEzIDIzLjE5IDMwLjQ2IDE2LjEzIDM3LjU1IDUwIDcxLjIzIDgzLjg2IDM3LjU1IDc2LjgxIDMwLjQ2IDUwIDU3LjEzIj48L3BvbHlnb24+PC9zdmc+');
  background-repeat: no-repeat;
  background-position: calc(100% - calc(var(--margin) * 0.75)) 50%;
  background-size: var(--margin);
  border-color: var(--color-foreground);
  border-style: solid;
  border-width: calc(var(--margin) * 0.2);
  border-radius: unset;
  appearance: none;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 var(--color-foreground);
}

select:-moz-focusring * {
  color: var(--color-foreground);
  text-shadow: none;
}

select[disabled] {
  color: var(--color-disabled);
  cursor: not-allowed;
  border-color: var(--color-disabled);
}

button {
  text-transform: uppercase;
}

button,
input[type='submit'] {
  width: 100%;
  height: calc(var(--margin) * 3);
  padding: 0 calc(var(--margin) * 0.75);
  font-weight: 700;
  color: var(--color-background);
  cursor: pointer;
  background-color: var(--color-foreground);
  border-color: var(--color-foreground);
  border-style: solid;
  border-width: calc(var(--margin) * 0.2);
  appearance: none;
}

button[disabled],
input[type='submit'][disabled] {
  cursor: not-allowed;
  background-color: var(--color-disabled);
  border-color: var(--color-disabled);
}

input[id*='datalist'],
input[type='color'],
input[type='date'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='password'],
input[type='url'] {
  width: 100%;
  height: calc(var(--margin) * 3);
  padding: 0 calc(var(--margin) * 0.75);
  font-weight: 500;
  color: var(--color-foreground);
  background-color: var(--color-background);
  border-color: var(--color-foreground);
  border-style: solid;
  border-width: calc(var(--margin) * 0.2);
  border-radius: unset;
  appearance: none;
}

input[id*='datalist'][disabled],
input[type='color'][disabled],
input[type='date'][disabled],
input[type='email'][disabled],
input[type='number'][disabled],
input[type='search'][disabled],
input[type='tel'][disabled],
input[type='text'][disabled],
input[type='time'][disabled],
input[type='password'][disabled] {
  color: var(--color-disabled);
  cursor: not-allowed;
  border-color: var(--color-disabled);
}
